{% load static %}

<div class="container-fluid bg-dark my-foot-font" style="margin-top: 10px;height: 230px;padding-top:10px ;">
    <div class="row">
        <div class="col-sm-2 offset-2 my-foot-col">
            <p><a href="#" target="_blank">友情链接</a></p>
            <p><a href="#" target="_blank">github</a></p>
            <p><a href="#" target="_blank">gitee</a></p>
            <p><a href="#" target="_blank">哔哩哔哩</a></p>
        </div>
        <div class="col-sm-2 my-foot-col" >
            <p><a href="#" target="_blank">下载</a></p>
            <p><a href="#" target="_blank">django教程</a></p>
            <p><a href="#" target="_blank">bootstrap4版本下载</a></p>
            <p><a href="#" target="_blank">linux学习</a></p>
        </div>
        <div class="col-sm-2 my-foot-col" >
            <p><a href="#" target="_blank">意见反馈</a></p>
            <p><a href="#" target="_blank">站点信息</a></p>
            <p><a href="#" target="_blank">关于我们</a></p>
            <p><a href="#" target="_blank">免责声明</a></p>
        </div>
        <div class="col-sm-2 my-foot-col" >
            <p style="color: #F7F7F7;font-family: 黑体;font-size: 20px;">联系微信</p>
            <img src="{% static 'images/site/weixin.jpg' %}" style="width: 100px;height: 100px;"/>
        </div>
        <div class="w-100"></div>
        <span class="text-center" style="width: 100%;">
            <a href="https://beian.miit.gov.cn/"  target="_blank" style="color: #939393;">
                鲁ICP备2021026975号
            </a>
        </span>
    </div>
</div>